<a href="https://colab.research.google.com/github/ItsLsn/ENG_20242/blob/main/Atividade_03_Portef%C3%B3lio_Avaliativo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Dada uma lista de números inteiros, use uma função lambda para retornar uma lista com o quadrado de cada número.

x = [1,2,3,4,5]

quadrado = lambda x: x**2
list(map(lambida,x))

[1, 4, 9, 16, 25]

In [2]:
#2 Dada uma lista de temperaturas em Celsius, use uma função lambda para convertê-las em Fahrenheit.

Celsius = [39.2, 36.5, 37.3, 37.8]

Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [14]:
#3 Dada uma lista de palavras, use uma função lambda para retornar uma lista com o comprimento de cada palavra.

palavras = ["arroz", "amarelo", "ponei", "feijao", "garrafa"]

quat = map(lambda x: len(x), palavras)
print(list(quat))

[5, 7, 5, 6, 7]

In [15]:
#4 Use uma função lambda para dobrar os valores de uma lista de inteiros.

x = [1,2,3,4]

dobra = map(lambda x: x*2, x)
print(list(dobra))

[2, 4, 6, 8]

In [18]:
#5 Dada uma lista de nomes, use uma função lambda para adicionar o prefixo "Sr./Sra." antes de cada nome.

nomes = ["Raissa", "Amanda", "Julia", "lucas"]

pronome = map(lambda x: "Sr./Sra " + x, nomes)
print(list(pronome))

['Sr./Sra Raissa', 'Sr./Sra Amanda', 'Sr./Sra Julia', 'Sr./Sra lucas']

In [33]:
#6 Dada uma lista de números, use uma função lambda para retornar apenas os números pares.

pares = [1,2,3,4,5,6,7,8,9,10]

pares = filter(lambda x: x%2 == 0, pares)
print(list(pares))

[2, 4, 6, 8, 10]

In [35]:
#7 Dada uma lista de palavras, use uma função lambda para retornar apenas as palavras com menos de 5 caracteres.

palavras = ["arroz", "amarelo", "ponei", "feijao", "garrafa", "oi"]

palavras = filter(lambda x: len(x) < 5, palavras)
print(list(palavras))

['oi']

In [40]:
#8 Dada uma lista de idades, use uma função lambda para retornar apenas as idades maiores que 18.

idades = [16, 17, 18, 19,]

maior_idade = filter(lambda x: x > 18, idades)
print(list(maior_idade))

[19]

In [41]:
#9 Dada uma lista de strings, use uma função lambda para retornar as strings que começam com a letra "a".

strings = ['arroz', 'amarelo', 'ponei', 'feijao', 'garrafa']

a = filter(lambda x: x[0] == 'a', strings)
print(list(a))

['arroz', 'amarelo']

In [43]:
#10 Dada uma lista de números inteiros, use uma função lambda para retornar apenas os números positivos.

numeros_inteiros = [-5,-4,-3,-2,-1,0,1,2,3,4,5]

positivos = filter(lambda x: x > 0, numeros_inteiros)
print(list(positivos))

[1, 2, 3, 4, 5]